<div class="modal fade meritsModel inventoryModel" id="createInventoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" dragable>
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content ">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title" id="myModalLabel">Create Inventory</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form class="form-horizontal" novalidate>
                                                                <div class="row customiedFrom">
                                                                    <div class="col-md-6 col-sm-12">
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label"><span class="mandatory">*</span>Inventory Name</label>
                                                                            <div class="col-sm-8">
                                                                                <input type="text" class="form-control" ng-model="addInventoryData.inventory_name" name="inventory_name">
                                                                                <span style="color:red" ng-show="addInventoryForm.inventory_name.$dirty && addInventoryForm.inventory_name.$invalid">
                                            <span ng-show="addInventoryForm.inventory_name.$error.required">Inventory Name is required</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label"><span class="mandatory">*</span>Category</label>
                                                                            <div class="col-sm-8">
                                                                                <select class="form-control" ng-model="addInventoryData.category" name="category" >
                                                                                    <option>Supplements</option>
                                                                                    <option>Diet &amp; Energy Dring</option>
                                                                                    <option>Personal Care</option>
                                                                                    <option>Vitamin Mixtures</option>
                                                                                    <option>Raw Materials</option>
                                                                                    <option>Excipients</option>
                                                                                    <option>Mixtures</option>
                                                                                    <option>Intermediates</option>
                                                                                    <option>API</option>
                                                                                    <option>Final Product</option>


                                                                                </select>
                                                                                <span style="color:red" ng-show="addInventoryForm.category.$dirty && addInventoryForm.category.$invalid">
                                            <span ng-show="addInventoryForm.category.$error.required">Category is required</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label"><span class="mandatory">*</span>Item/Material</label>
                                                                            <div class="col-sm-8">
                                                                                <select class="form-control" ng-model="addInventoryData.item" ng-options="item for item in materials" name="material" >
                                                                                    <option value="">Select Material</option>
                                                                                </select>
                                                                                <span style="color:red" ng-show="addInventoryForm.material.$dirty && addInventoryForm.material.$invalid">
										<span ng-show="addInventoryForm.material.$error.required">Machinery is required.</span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label"><span class="mandatory">*</span>Location</label>
                                                                            <div class="col-sm-8">
                                                                                <button type="button" class="btn btn-default locationBtn" ng-class="{'show' : locationSelectBtn, 'hide' : !locationSelectBtn}" ng-click="locationSelect($event)">Select</button>
                                                                                <button type="button" class="btn btn-default locationBtn" ng-class="{'show' : locationEditBtn, 'hide' : !locationEditBtn}" ng-click="locationEdit($event)">Edit</button>
                                                                                <div class="locationBox" ng-class="{'show' : location, 'hide' : !location}">
                                                                                    <wxy-push-menu menu="menu" options="rest.options"></wxy-push-menu>
                                                                                    <div class="arrow"></div>
                                                                                    <div class="flyout-fold"></div>
                                                                                    <div class="locationFooter">
                                                                                        <button type="button" class="btn btn-default btnSave" ng-click="locationSeleted($event)">Done</button>
                                                                                        <a href="javascript:void(0)" class="cancel" ng-click="locationCancel($event)">Cancel</a>
                                                                                    </div>
                                                                                </div>
                                                                                <div id="pushobj" name="location" ng-class="{'show' : locationDone, 'hide' : !locationDone}">
                                                                                    <ul>
                                                                                        <li ng-repeat="event in events track by $index" ng-bind="event"></li>
                                                                                    </ul>

                                                                                </div>
                                                                                <span style="color:red" ng-show="addInventoryForm.location.$dirty && addInventoryForm.location.$invalid">
                                            <span ng-show="addInventoryForm.location.$error.required">Location is required</span>
                                                                                </span>

                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label">Machinery</label>
                                                                            <div class="col-sm-8">
                                                                                <select class="form-control" ng-model="addInventoryData.machinery_id" ng-options="ma.machinery_id as ma.MACHINERY_CODE for ma in machineries" name="machinery">
                                                                                    <option value="">Select Machinery</option>
                                                                                </select>

                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label">Sensor</label>
                                                                            <div class="col-sm-8">
                                                                                <select class="form-control" ng-model="addInventoryData.sensor_id" ng-options="se.sensor_id as se.sensor_name for se in sensors" ng-change="getParameterValue(addInventoryData.sensor_id)" name="sensor">
                                                                                    <option value="">Select Sensor</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label">Parameter</label>
                                                                            <div class="col-sm-8">
                                                                                <input type="text" value="1" class="form-control" ng-model="addInventoryData.parameter_name" ng-disabled="true">
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12">
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label">Goal</label>
                                                                            <div class="col-sm-8">
                                                                                <input type="text" class="form-control" ng-model="addInventoryData.goal">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label">Stock</label>
                                                                            <div class="col-sm-8">
                                                                                <input type="text" class="form-control" ng-model="addInventoryData.stock">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label"><span class="mandatory">*</span>Supplier Name</label>
                                                                            <div class="col-sm-8">
                                                                              
                                                                                  <select class="form-control" ng-model="addInventoryData.supplierName" ng-options="item for item in suppliers">
                                            <option value="">Select Supplier</option>
                                        </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label">Description</label>
                                                                            <div class="col-sm-8">
                                                                                <textarea class="form-control descriptionTextArea" ng-model="addInventoryData.description" rows="3"></textarea>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="" class="col-sm-4 control-label">Upload Image</label>
                                                                            <div class="col-sm-8">
                                                                                <div class="dropzone" file-dropzone="[image/png, image/jpeg, image/gif]" file="image" file-name="imageFileName" data-max-file-size="3">
                                                                                </div>
                                                                                <form action>

                                                                                    <div class="imageDragDrop" placeholder="Image browse or Drag and Drop Here">
                                                                                        <input type="file" fileread="uploadme.src" class="imageDragArea" />
                                                                                    </div>
                                                                                    <div class="image-container" ng-class="{'in': uploadme.src, 'dummy': !uploadme.src}">
                                                                                        <img ng-src="{{ uploadme.src }}">
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default btnSave" ng-click="OnSubmitInventory(addInventoryData)" data-dismiss="modal">Save</button>
                                                            <span class="btn-divider"></span>
                                                            <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>