<div class="innerPage">
    
    <div id="content">
        <div class="container-fluid">
           <div class="row pageTitle">
                        <div class="col-lg-6 col-sm-6">
                            <h3>Manufacturer</h3>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="pull-right">
                                <div class="sensorSearch">
                                    <input type="text" placeholder="Search" ng-model="searchText">
                                    <a href=""><img src="images/search-insight.png" alt="Search" title="Search"></a>
                                </div>
                                <a class="btnAddNew" ng-click="addNewManufaturer()" ng-show="manufacturerCreate==1"><span><img src="images/rounded-add.png" alt=""></span> Add New</a>
                            </div>
                        </div>
                    </div>
           <div class="row pbottom25 master">
                        <div class="table-responsive workOrderTable masterModelTable">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>S.No #</th>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="addManufaturerRow" ng-form name="innerForm">
                                        <td></td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="manufaturername" name="manufaturer_name" servicename="master/checkmanufacturenameexits" required unique-field>
											 <span style="color:red" ng-show="innerForm.manufaturer_name.$dirty && innerForm.manufaturer_name.$invalid">
												<span ng-show="innerForm.manufaturer_name.$error.required">Manufacturer Name is required</span>
												<span ng-show="innerForm.manufaturer_name.$error.uniqueField">Manufacturer name already exists.</span>
											</span>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="manufaturercode">
                                        </td>
                                        <td>
                                            <textarea name="" rows="1" class="form-control" ng-model="manufaturerdescription"></textarea>
                                        </td>
                                        <td class="workorderActionBtn">
                                            <div class="action" ng-click="addmanufaturerItem()">
                                                <div class="imagesmallContainer">
                                                    <img ng-src="images/save-icon.png" class="save" alt="Save" title="Save">
                                                </div>
                                            </div>
                                            <div class="action" ng-click="closeAddmanufaturer()">
                                                <div class="imagesmallContainer">
                                                    <img ng-src="images/close-icon.png" class="closeMaterial" alt="Close" title="Close">
                                                </div>
                                            </div>

                                        </td>
                                    </tr>

                                    <tr ng-repeat="item in manufacturerList | filter:searchText" ng-init="item.manufacturerdetails = true" class="masteredit" ng-mouseover="showAction(item)" ng-mouseleave="hideAction(item)">
                                        <td>{{$index + 1}}</td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="item.MANUFACTURER_NAME" ng-disabled="item.manufacturerdetails">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="item.MANUFACTURER_CODE" ng-disabled="item.manufacturerdetails">
                                        </td>
                                        <td>
                                            <textarea name="" rows="1" class="form-control" ng-model="item.DESCRIPTION" ng-disabled="item.manufacturerdetails"></textarea>
                                        </td>
                                        <td class="workorderActionBtn">
                                            <div ng-show="item.loading">
                                                <div class="action" ng-click="editManufaturerItem(item)" ng-show="item.manufacturerdetails && manufacturerUpdate==1">
                                                    <div class="imagesmallContainer">
                                                        <img ng-src="images/edit-icon.png" class="save" alt="Edit" title="Edit">
                                                    </div>
                                                </div>
                                                <div class="action" ng-click="saveEditManufaturer(item)" ng-hide="item.manufacturerdetails && manufacturerDelete==1">
                                                    <div class="imagesmallContainer">
                                                        <img ng-src="images/save-icon.png" class="save" alt="Save" title="Save">
                                                    </div>
                                                </div>
                                                <div class="action" ng-click="removeAddManufaturer(item.MANUFACTURER_ID)">
                                                    <div class="imagesmallContainer">
                                                        <img ng-src="images/close-icon.png" class="closeMaterial" alt="Close" title="Close">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>