<div class="innerPage">
    
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="notificationDescription">
                        <span class="highlights">Material M23324 (M&amp;S Vitamin Powder)</span> is running shot - Goal was 1000 kgs, Actual is 500 kgs across all <span class="highlights">locations</span>
                    </div>

                    <div class="notifiationDiscuss">
                        <div class="application">
                            <div class="applicationContainer">
                                <div class="applicationConnectLine" ng-style="{height: meesageheight+ 'px'}"></div>
                                <div class="applicationSteps">

                                    <div class="step-col-2">
                                        <div class="processIndicator activeUser">
                                            <div class="userImageContainer">
                                                <img src="images/01-contact-member.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="step-col-3">
                                        <div class="panel-group">
                                            <div class="panel panel-default active">
                                                <div class="panel-header">
                                                    <div class="userDetails pull-left">
                                                        Carol - Material Specialist
                                                    </div>
                                                    <div class="userEnterTime pull-right">
                                                        10:30 am
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    Hi Kelly, we are running low on <span class="highlights">Material M2345</span>. I have set you a form to approve the re-order amout, we need to get this the into the sysytem before Dec 12
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="applicationSteps">

                                    <div class="step-col-2">
                                        <div class="processIndicator replyUser">
                                            <div class="userImageContainer">
                                                <img src="images/08-contact-member.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="step-col-3">
                                        <div class="panel-group">
                                            <div class="panel panel-default replay">
                                                <div class="panel-header">
                                                    <div class="userDetails pull-left">
                                                        Kelly - EBR Specialist
                                                    </div>
                                                    <div class="userEnterTime pull-right">
                                                        10:40 am
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    Hi Carol, Please add the supplier info and l'll approve, thanks
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="applicationSteps">

                                    <div class="step-col-2">
                                        <div class="processIndicator activeUser">
                                            <div class="userImageContainer">
                                                <img src="images/01-contact-member.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="step-col-3">
                                        <div class="panel-group">
                                            <div class="panel panel-default active">
                                                <div class="panel-header">
                                                    <div class="userDetails pull-left">
                                                        Carol - Material Specialist
                                                    </div>
                                                    <div class="userEnterTime pull-right">
                                                        10:45 am
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    Hi Kelly, make sure that you add notes about <span class="highlights">Tablet Press TP1345</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="applicationSteps">

                                    <div class="step-col-2">
                                        <div class="processIndicator replyUser">
                                            <div class="userImageContainer">
                                                <img src="images/08-contact-member.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="step-col-3">
                                        <div class="panel-group">
                                            <div class="panel panel-default replay">
                                                <div class="panel-header">
                                                    <div class="userDetails pull-left">
                                                        Kelly - EBR Specialist
                                                    </div>
                                                    <div class="userEnterTime pull-right">
                                                        10:40 am
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    Hi Carol, Please add the supplier info and l'll approve, thanks
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="applicationSteps">

                                    <div class="step-col-2">
                                        <div class="processIndicator activeUser">
                                            <div class="userImageContainer">
                                                <img src="images/01-contact-member.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="step-col-3">
                                        <div class="panel-group">
                                            <div class="panel panel-default active">
                                                <div class="panel-header">
                                                    <div class="userDetails pull-left">
                                                        Carol - Material Specialist
                                                    </div>
                                                    <div class="userEnterTime pull-right">
                                                        10:45 am
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    Hi Kelly, make sure that you add notes about <span class="highlights">Tablet Press TP1345</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="applicationSteps">

                                    <div class="step-col-2">
                                        <div class="processIndicator replyUser">
                                            <div class="userImageContainer">
                                                <img src="images/08-contact-member.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="step-col-3">
                                        <div class="panel-group">
                                            <div class="panel panel-default replay">
                                                <div class="panel-header">
                                                    <div class="userDetails pull-left">
                                                        Kelly - EBR Specialist
                                                    </div>
                                                    <div class="userEnterTime pull-right">
                                                        10:40 am
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    Hi Carol, Please add the supplier info and l'll approve, thanks
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-4">
                    <div class="notificationRightContainer">
                        <div class="insightContainer chatContainer" ng-class="{'mapFullWidth' : chatContent, 'mapNormalWidth' : !chatContent}">
                            <div class="insightContainerHeader">
                                <h4>Chat</h4>
                                <a href="" id="ChatExpand" ng-click="chatContent = !chatContent"><i class="fa fa-expand" aria-hidden="true"></i></a>
                            </div>

                            <ul class="nav nav-tabs" ng-init="activeTab2 = 'messages'">
                                <li ng-class="{ active: activeTab2 === 'messages' }">
                                    <a ng-click="activeTab2 = 'messages'" href="javascript:void(0)">Messages</a>
                                </li>
                                <li ng-class="{ active: activeTab2 === 'contacts' }">
                                    <a ng-click="activeTab2 = 'contacts'" href="javascript:void(0)">Contacts</a>
                                </li>

                            </ul>

                            <div class="tab-content notifiymessage">
                                <div class="tab-pane" ng-class="{ active: activeTab2 === 'messages' }">
                                    <div class="messageContent" ng-class="{'contentHeight' : chatContent, 'dummy' : !chatContent}">
                                        <div class="list">
                                            <ul>
                                                <li class="active">
                                                    <div class="messageDetails"><span class="highlights">Material M2345 (M &amp; S Vitamin Powder)</span> is running shot - Goal was 100 Kgs, Actual is 500 kgs Tacross all <span class="highlights">locations</span></div>
                                                    <div class="messageTime">09:20 am</div>
                                                </li>
                                                <li>
                                                    <div class="messageDetails"><span class="highlights">Equipments TP 123456</span> is due for clearning (ot been cleaned for 51 days)</div>
                                                    <div class="messageTime">Yesterday 12:20 pm</div>
                                                </li>
                                                <li>
                                                    <div class="messageDetails"><span class="highlights">Equipments 325</span> readings are off - Away #65 shows Calcium deposits of 0.01 mg instead of 0.0 mg</div>
                                                    <div class="messageTime">Yesterday 12:10 pm</div>
                                                </li>
                                                <li>
                                                    <div class="messageDetails"><span class="highlights">Material M2345 (M &amp; S Vitamin Powder)</span> is running shot - Goal was 100 Kgs, Actual is 500 kgs Tacross all locations</div>
                                                    <div class="messageTime">Yesterday 09:20 am</div>
                                                </li>
                                                <li>
                                                    <div class="messageDetails"><span class="highlights">Equipments TP 123456</span> is due for clearning (ot been cleaned for 51 days)</div>
                                                    <div class="messageTime">Yesterday 12:20 pm</div>
                                                </li>
                                                <li>
                                                    <div class="messageDetails"><span class="highlights">Equipments 325</span> readings are off - Away #65 shows Calcium deposits of 0.01 mg instead of 0.0 mg</div>
                                                    <div class="messageTime">Yesterday 12:10 pm</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane chatContacts" ng-class="{ active: activeTab2 === 'contacts' }">
                                    <div class="" ng-class="{'contentHeight' : chatContent, 'dummy' : !chatContent}">
                                        <div class="searchChatPeople">
                                            <div class="searchcontainer">
                                                <input type="text">
                                                <a href="javascript:void(0)" class="searchBtn"><img src="images/search-chat-icon.png" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="list">
                                            <ul>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/01-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Carol</h6>
                                                        <div class="contactPersonPosition">Material Specialist - Georgia</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/02-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Kelly</h6>
                                                        <div class="contactPersonPosition">ERP Specialist - Kansas</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/03-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Ryan Mathew</h6>
                                                        <div class="contactPersonPosition">Recipe Specialist - Pennsylvania</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/04-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Emily Jacson</h6>
                                                        <div class="contactPersonPosition">Quality Analyst - Knasas</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/05-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Isabella</h6>
                                                        <div class="contactPersonPosition">Meterial Specialist - Oklahoma</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/06-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Elizabeth</h6>
                                                        <div class="contactPersonPosition">Recipe Specialist - Wisconsin</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/07-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Brayden</h6>
                                                        <div class="contactPersonPosition">Material Specialist - Georgia</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/08-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Sophia</h6>
                                                        <div class="contactPersonPosition">Quality Analyst - Kansas</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/09-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Jayden Ethan</h6>
                                                        <div class="contactPersonPosition">Materials Specialist - Pennsylvania</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/10-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Willam Jacob</h6>
                                                        <div class="contactPersonPosition">Material Specialist - Pennsylvania</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/01-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Carol</h6>
                                                        <div class="contactPersonPosition">Material Specialist - Georgia</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/02-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Kelly</h6>
                                                        <div class="contactPersonPosition">ERP Specialist - Kansas</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/03-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Ryan Mathew</h6>
                                                        <div class="contactPersonPosition">Recipe Specialist - Pennsylvania</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/04-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Emily Jacson</h6>
                                                        <div class="contactPersonPosition">Quality Analyst - Knasas</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/05-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Isabella</h6>
                                                        <div class="contactPersonPosition">Meterial Specialist - Oklahoma</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/06-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Elizabeth</h6>
                                                        <div class="contactPersonPosition">Recipe Specialist - Wisconsin</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/07-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Brayden</h6>
                                                        <div class="contactPersonPosition">Material Specialist - Georgia</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/08-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Sophia</h6>
                                                        <div class="contactPersonPosition">Quality Analyst - Kansas</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/09-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Jayden Ethan</h6>
                                                        <div class="contactPersonPosition">Materials Specialist - Pennsylvania</div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="chatContactsLeft">
                                                        <img src="images/10-contact-member.png" alt="">
                                                    </div>
                                                    <div class="chatContactsRight">
                                                        <h6 class="contactPersonName">Willam Jacob</h6>
                                                        <div class="contactPersonPosition">Material Specialist - Pennsylvania</div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>


        </div>

        <div class="notificationEntry">
            <div class="entryTextArea">

                <form>
                    <div class="editable" id="getuserinputvalue" ng-bind-html="myHtmlVar" onclick="this.contentEditable='true';"></div>
                </form>
            </div>
            <div class="notificationOptions enterRecipe notifyopt">
                <ul>
                    <li class="insertText">Insert</li>
                    <li>
                        <a href="javascript:void(0)" ng-click="addNotifyEquipment($event)">Equipment</a>
                        <div class="notifySearchBox recipeoptionbox" ng-class="{'show': equipmentBox, 'hide': !equipmentBox}">
                            <div class="notifySearchBoxContainer">
                                <ol class="nya-bs-select" ng-model="selectEquipemt" data-live-search="true">
                                    <li nya-bs-option="equipment in equipments">
                                        <!-- the text content of anchor element will be used for search -->
                                        <a ng-model="equipment">
                                        {{ equipment }}
                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                      </a>
                                    </li>
                                </ol>
                            </div>
                            <div class="arrow"></div>
                            <div class="flyout-fold"></div>
                            <div class="locationFooter">
                                <button type="button" class="btn btn-default btnSave" ng-click="equipmentAddDone($event)">Done</button>
                                <a href="javascript:void(0)" class="cancel" ng-click="equipmentAddCancel($event)">Cancel</a>
                            </div>
                        </div>

                    </li>
                    <li>
                        <a href="javascript:void(0)" ng-click="addNotifyMaterial($event)">Material</a>
                        <div style="display:none" class="notifySearchBox recipeoptionbox" ng-class="{'show': materialBox, 'hide': !materialBox}">
                            <div class="notifySearchBoxContainer">
                                <ol class="nya-bs-select" ng-model="selectmaterial" data-live-search="true">
                                    <li nya-bs-option="material in materials">
                                        <!-- the text content of anchor element will be used for search -->
                                        <a ng-model="equipment">
                                        {{ material }}
                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                      </a>
                                    </li>
                                </ol>
                            </div>
                            <div class="arrow"></div>
                            <div class="flyout-fold"></div>
                            <div class="locationFooter">
                                <button type="button" class="btn btn-default btnSave" ng-click="materialAddDone($event)">Done</button>
                                <a href="javascript:void(0)" class="cancel" ng-click="materialAddCancel($event)">Cancel</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)" ng-click="addNotifyWorkorder($event)">Work Order</a>
                        <div style="display:none" class="notifySearchBox recipeoptionbox" ng-class="{'show': workorderBox, 'hide': !workorderBox}">
                            <div class="notifySearchBoxContainer">
                                <ol class="nya-bs-select" ng-model="selectworkorder" data-live-search="true">
                                    <li nya-bs-option="workorder in workorders">
                                        <!-- the text content of anchor element will be used for search -->
                                        <a ng-model="equipment">
                                        {{ workorder }}
                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                      </a>
                                    </li>
                                </ol>
                            </div>
                            <div class="arrow"></div>
                            <div class="flyout-fold"></div>
                            <div class="locationFooter">
                                <button type="button" class="btn btn-default btnSave" ng-click="workorderAddDone($event)">Done</button>
                                <a href="javascript:void(0)" class="cancel" ng-click="workorderAddCancel($event)">Cancel</a>
                            </div>
                        </div>
                    </li>
                    <li class="publishBtn">
                        <a href="javascript:void(0)" class="btn" ng-click="publishUserEntery()">Publish</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>