.multilevelpushmenu_wrapper {
  position: absolute;
  z-index: 10;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
    width: 95% !important;
}

.multilevelpushmenu_wrapper .levelHolderClass {
  position: absolute;
  top: 0;
  width: auto;
  overflow: hidden;
  font-family: 'roboto_regular';
  font-size: 1em;
  background: #fff;
  zoom: 1;
}

.multilevelpushmenu_wrapper .multilevelpushmenu_inactive {
  background: #fff;
}

.multilevelpushmenu_wrapper h2 {
  padding: 0 .4em 0 .4em;
  font-size: 16px;
  font-family: 'roboto_bold';
  line-height: 1em;
  color: #444;
  text-transform: uppercase;
  padding-left: 25px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 0;
}

.multilevelpushmenu_wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 260px;
  overflow-x: hidden;
  overflow-y: auto;
}

.multilevelpushmenu_wrapper ul li {
  padding: .6em .4em .6em 0em;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.multilevelpushmenu_wrapper ul li:last-child {
}

.multilevelpushmenu_wrapper ul li:hover {
  background-color: #f5f5f5;
}

.multilevelpushmenu_wrapper a {
  display: block;
  padding: .2em .2em;
  overflow: hidden;
  font-size: 15px;
  line-height: 1em;
  color: #666;
  text-decoration: none;
  outline: none;
}

.multilevelpushmenu_wrapper a:hover {
  color: #333;
}

.multilevelpushmenu_wrapper .backItemClass {
  display: block;
  padding: .4em .4em .4em .4em;
  position: absolute;
  z-index: 100;
  top: 0px;
  left: -6px;
}
.multilevelpushmenu_wrapper .backItemClass a {
  font-size: 30px;   
}
.multilevelpushmenu_wrapper .invisible {
  visibility: hidden;
}

.multilevelpushmenu_wrapper .visible {
  visibility: visible;
}

.multilevelpushmenu_wrapper .cursorPointer {
  cursor: pointer;
}

.multilevelpushmenu_wrapper.ltr .levelHolderClass {
  left: 0px;
  margin-left: 18px;
  width: 99% !important;
}

.multilevelpushmenu_wrapper.ltr .iconSpacing {
  padding: 0 .4em 0 0;
}

.multilevelpushmenu_wrapper.ltr .itemIcon {
  float: right;
}

.multilevelpushmenu_wrapper.ltr .floatRight {
  float: right;
}

.multilevelpushmenu_wrapper.ltr .floatLeft {
  float: right;
}

.multilevelpushmenu_wrapper.rtl {
  right: 0;
  text-align: right;
}

.multilevelpushmenu_wrapper.rtl .levelHolderClass {
  right: 0;
  margin-right: 0;
  -webkit-box-shadow: 5px 0 5px 5px #1f4164;
     -moz-box-shadow: 5px 0 5px 5px #1f4164;
          box-shadow: 5px 0 5px 5px #1f4164;
}

.multilevelpushmenu_wrapper.rtl .multilevelpushmenu_collapse {
  margin-right: -225px;
}

.multilevelpushmenu_wrapper.rtl .iconSpacing {
  padding: 0 0 0 .4em;
}

.multilevelpushmenu_wrapper.rtl .floatRight {
  float: left;
}

.multilevelpushmenu_wrapper.rtl .floatLeft {
  float: right;
}